body {
    background-color: beige;
}

#box,
#controlPanel {
    display: inline-block;
    vertical-align: top;
}

#box {
    width: 340px;
    height: 340px;
    border: 3px solid black;
    font-family: "Comic Sans MS";
    text-align: center;
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    word-wrap: break-word;
    overflow: hidden;
}

.section {
    margin-bottom: 20px;
}

.section>div {
    margin-bottom: 15px;
}

button {
    padding: 5px;
}

#noText,
#happyBirthday,
#congrats,
#noBackground,
#mistyRose,
#springGreen,
#defaultColor,
#red,
#green,
#defaultSize,
#size40,
#size60 {
    margin-right: 5px;
}
